@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
	--main-bg: white;
	--main-col: black;
	--key-bg: #999;
	--key-bg-hover: #ccc;
	--key-bg-selected: #ddd;
	--key-bg-bound: #fdd;
	--key-bg-bound-hover: #ecc;
	--key-bg-bound-selected: #dbb;
	--key-bg-bound-selected-hover: #dbb;
	--key-bg-bindable: #eee;
	--key-bg-bindable-hover: #ddd;

	--panel-bg: #ddd;
	--button-bg: #eee;
	--button-bg-hover: #ccc;
	--button-border: 2px solid black;
}

@media (prefers-color-scheme: dark) {
	:root {
		--main-bg: #111;
		--main-col: white;
		--key-bg: #333;
		--key-bg-hover: #666;
		--key-bg-selected: #888;
		--key-bg-bound: #f66;
		--key-bg-bound-hover: #e55;
		--key-bg-bound-selected: #d44;
		--key-bg-bound-selected-hover: #d44;
		--key-bg-bindable: #555;
		--key-bg-bindable-hover: #444;

		--panel-bg: #555;
		--button-bg: #444;
		--button-bg-hover: #333;
		--button-border: 2px solid white;
	}
}

html {
	background: var(--main-bg);
	color: var(--main-col);
}

main {
	margin-top: 50px;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 20px;
	font-family: 'Roboto', sans-serif;
}

.keypanel {
	display: flex;
	flex-direction: row;
	align-items: stretch;
	margin: auto;
	gap: 30px;
	user-select: none;
}

.keypanel .kp-main, .keypanel .kp-mid {
	display: flex;
	flex-direction: column;
	align-items: stretch;
	justify-content: space-between;
	gap: 20px;
}

.keypanel .kp-fnrow {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	gap: 3px;
}

.keypanel .kp-fnrow .kp-fngroup {
	display: flex;
	flex-direction: row;
	gap: 3px;
}

.keypanel .kp-main .kp-mainbody {
	display: flex;
	flex-direction: column;
	align-items: stretch;
	gap: 3px;
}

.keypanel .kp-row {
	display: flex;
	flex-direction: row;
	justify-content: center;
	gap: 3px;
}

.keypanel .kp-col {
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 3px;
}

.keypanel .kp-mid .kp-midbody {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	flex-grow: 1;
}

.keypanel .kp-mid .kp-midbody .kp-midpart {
	display: flex;
	flex-direction: column;
	gap: 3px;
}

.keypanel .kp-numpad {
	display: flex;
	flex-direction: row;
	align-items: flex-end;
	gap: 3px;
}

.keypanel .kp-numpad .kp-numpad-main {
	display: flex;
	flex-direction: column;
	align-items: stretch;
	gap: 3px;
}

.keypanel .kp-mouse {
	display: flex;
	flex-direction: column;
	gap: 3px;
	margin-left: 20px;
}

.keypanel .kp-mouse .kp-mouse-main {
	display: flex;
	flex-direction: row;
	gap: 3px;
}

.keypanel .kp-mouse .kp-mouse-body {
	display: flex;
	flex-direction: row;
	gap: 3px;
	background: var(--key-bg);
	align-items: center;
	padding: 5px;
	height: 150px;
}

.keypanel .kp-mouse .kp-mouse-body .kp-mouse-left {
	display: flex;
	flex-direction: column;
	gap: 3px;
}

.keypanel .key {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	min-width: 50px;
	min-height: 50px;
	background: var(--key-bg);
	font-family: 'Roboto', sans-serif;
	font-size: 1.3em;
	cursor: default;
}

.keypanel .key.bindable {
	background: var(--key-bg-bindable);
}

.keypanel .key.bindable:hover {
	cursor: pointer;
	background: var(--key-bg-bindable-hover);
}

.keypanel .key.bound {
	background: var(--key-bg-bound);
}

.keypanel .key.bound:hover {
	background: var(--key-bg-bound-hover);
}

.keypanel .key.selected {
	background: var(--key-bg-selected);
}

.keypanel .key.selected:hover {
	background: var(--key-bg-selected);
}

.keypanel .key.bound.selected {
	background: var(--key-bg-bound-selected);
}

.keypanel .key.bound.selected:hover {
	background: var(--key-bg-bound-selected-hover);
}

.keypanel .thinkey1 { min-width: 20px; }

.keypanel .widekey1 { min-width: 70px; }
.keypanel .widekey2 { min-width: 90px; }
.keypanel .widekey3 { min-width: 103px; }
.keypanel .widekey4 { min-width: 123px; }
.keypanel .widekey5 { min-width: 341px; }

.keypanel .tallkey1 { min-height: 103px; }
.keypanel .tallkey2 { min-height: 70px; }

.keybinder.hidden {
	display: none !important;
}

.keybinder h3 {
	margin: 0;
	margin-bottom: 10px;
}

.keybinder {
	display: flex;
	flex-direction: row;
	justify-content: center;
	gap: 30px;
}

.binds {
    background: var(--panel-bg);
    padding: 20px;
    max-width: 650px;
}

.keybinder .binds > div {
	display: flex;
	flex-direction: row;
	justify-content: center;
	gap: 30px;
	background: var(--panel-bg);
	padding: 20px;
}

.keybinder .binds > div > div {
	display: flex;
	flex-direction: column;
	gap: 5px;
}

.keybinder .bindmode {
	display: flex;
	flex-direction: column;
	gap: 5px;
	padding: 20px;
	background: var(--panel-bg);
}

button {
	font-size: 1.5em;
	background: var(--button-bg);
	color: var(--main-col);
	border: var(--button-border);
	cursor: pointer;
}

button:hover {
	background: var(--button-bg-hover);
}

#reset_bind {
	flex-grow: 1;
	margin: 10px;
}

#gen_cfg {
	padding: 30px;
}

#links {
	height: 93px;
}

#links a {
    padding: 0.2em 0.2em;
    margin: auto;
	text-decoration: none;
	vertical-align: middle;
    font-size: 4em;
}

a {
	color: inherit;
}
